* {
  margin: 5px;
}
.container {
  display: grid;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: yellow;
  padding: 100px;
}
.hospital {
  background-color: crimson;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
